/* ==================== Imports ==================== */
@import './reset.css';
@import './variables.css';
@import './iconfont.css';

/* ==================== Mixins ==================== */

@define-mixin btn $color, $bgColor, $padding {
	border: none;
	color: $color;
	cursor: pointer;
	text-decoration: none;
	background-color: $bgColor;
	box-shadow: none;
   border-radius: 0;
	padding: $padding;
}



/****************** CUSTOM *************/
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.header{
	img{
		width: 100%;
		height: auto; 
	}
}
.wrapper{
	padding: 1rem;
}

.title{
	margin: 1rem 0;
}
.btn-agregar{
	@mixin btn var(--white), var(--monza), .5rem;
}
.btn-gasto{
	@mixin btn var(--white), var(--cornflowerblue), .5rem;
}
