/* ==================== Imports ==================== */
@import './reset.css';
@import './variables.css';
@import './iconfont.css';

/* ==================== Mixins ==================== */

@define-mixin btn $color, $bgColor, $padding {
	border: none;
	color: $color;
	cursor: pointer;
	text-decoration: none;
	background-color: $bgColor;
	box-shadow: none;
   border-radius: 0;
	padding: $padding;
	&:focus{
		outline: none !important;
	}
}
@define-mixin title $ancho, $color, $borde, $size{
	width: $ancho;
	color: $color;
	border-bottom: $borde;
	font-size: $size;
	padding: 10px 0;
	margin: 1rem auto;
	font-weight: bold;
}


/****************** CUSTOM *************/
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.header{
	img{
		width: 100%;
		height: auto; 
	}
}
.wrapper{
	padding: 1rem;
}
.alert{
	padding: 0;
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 5px;
}
.title{
	@mixin title 100%, #dc0028, 2px solid var(--iron), 14px;
}
.btn-agregar{
	@mixin btn var(--white), var(--monza), .5rem;
}
.btn-gasto{
	@mixin btn var(--white), var(--cornflowerblue), .5rem;
}
.relative-element{
	label{
		width: 100px;
	}
	input{
		width: calc(100% - 120px);
		height: 30px;
		&:focus{
			border: 2px solid color(var(--iron) blackness(50%));
			outline: none;
		}
	}
}
.texto-success{
	border: 2px solid;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	color: var(--chateaugreen);
	background-color: color(var(--chateaugreen) alpha(-70%));  
}
h3.title{
	font-size: 12px;
	border-bottom: none;
}
