/* ================== Variables ================== */
:root{
	/* ========= Colores ========= */
	--bg-body: #fafafa;
	--bg-header: #466173;
	--bg-footer: #273b47;
	--btn-gradient: #fd324e;
	--btn-gradient-start: color(var(--btn-gradient) blackness(30%));
	--btn-gradient-end: color(var(--btn-gradient) lightness(10%) hue(10%));

	--monza: #dc0028;
	--white: #ffffff;
	--cornflowerblue: #6195ED;
	/* ========= Font-size ========= */
	--fontSize: 18px;
}
/*  ============ Custom media queries ============ */
@custom-media --mobile (max-width: 480px);
@custom-media --tablet (max-width: 768px);
@custom-media --mobile (max-width: 992px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);